.btn{
  button{
    width: 100%;
    padding: 10px;
    background-color: $primary-color;
    color: #fff;
    font-weight: bold;
    height: 56px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
  }

}