.header {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgb(180 161 161);
  position: fixed;
  z-index: 9999;
  right: 0;
  left: 0;
  top: 0;
  .header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_logo {

    width: 33.333%;

    &-on {
      width: 50px;
      height: 50px;

      img {
        width: 100%;
      }
    }

  }

  &_title {
    font-size: 30px;
    font-weight: bold;
    width: 33.333%;
    text-align: center;
    a {
      text-decoration: none;
      color: $title-color;
    }
  }

  &_cart {
    display: flex;
    font-size: 30px;
    width: 33.333%;
    justify-content: flex-end;
    &-search:first-child {
      margin-right: 10px;
      border: 1px solid #D8DDE6;
      border-radius: 5px;

      form {
        display: flex;

        input {
          display: none;

          border: none;
          outline: none;
          padding: 5px;
        }
      }
    }

    &-icon {
      cursor: pointer;

      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $title-color;
      font-weight: bold;
      position: relative;
    }

    &-btn {

    }

    &-quantity {
      position: absolute;
      right: -3px;
      top: -2px;
      font-size: 15px;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 20px;
        background-color: $primary-color;
        color: #fff;
      }
    }
    &-user{
      margin-left: 5px;
      position: relative;
      &_box{
        margin-top: 20px;
        display: none;
        position: absolute;
        width: 200px;
        height: 100px;
        padding: 10px;
        left: -60px;
        background-color: #fff;
        border: 2px solid #D8DDE6;
        border-radius: 5px;
        font-size: 20px !important;
      }
    }

  }
}
